/* ~COLOR VARIABLES */
:root {
  /*--accent-color: #0cba58;
    --accent-color-muted: #0cba57b4;
    --accent-color-highlight: #16cf66;
  */
  --accent-color: #ff4b57;
  --accent-color-highlight: #ff5964;
  --accent-color-opaque: #ff4b577a;
  --text-color: white;
  --secondary-text-color: #979799;
  --secondary-text-color-opaque: #97979954;
  --body-dark: #14141e;
  --body-light: #1c1b29;
}

/* ~SIZE VARIABLES */
:root {
  --max-subsection-width: 80vw;
  --project-card-width: 25.3vw;
  --project-car-height: 30vh;
  --project-card-margin: 0 0.5vw 1vw 0.5vw;
  
  /*
  --project-card-width: 26.6vw;
  --project-car-height: 30vh;
  --project-card-margin: 0;
  */
}

/* ~KEYFRAME VARIABLES */
:root {
  --title-slide-time: 1.2s;
  --descriptors-fade-in-time: 1s;
  --navbar-animation-delay: 1.2s;
  --navbar-animation-time: 1s;
}

/* ~ANIMATION VARIABLES */

:root {
  --reveal-delay: 0.2s;
  --reveal-duration: 1s;
}

/* ~GENERAL PAGE STYLES */

.hidden > * {
  opacity: 0;
}

.fade-slide-up > * {
  animation: fade-in-slide-up ease var(--reveal-duration) var(--reveal-delay);
  /* maintain animation styles after completion*/
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

.fade-slide-right > * {
  animation: fade-in-slide-right ease var(--reveal-duration) var(--reveal-delay);
  /* maintain animation styles after completion*/
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

.fade-slide-left > * {
  animation: fade-in-slide-left var(--reveal-duration) var(--reveal-delay);
  /* maintain animation styles after completion*/
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

.fade-in {
  animation: fadeIn ease 0.5s;
}


.App, body, #root {
  position: relative;
  z-index: -1;
  font-family: 'Montserrat', sans-serif;
}

.section {
  height: 100vh;
  text-align: center;
}

.primary-text {
  color: var(--text-color);
}

.secondary-text {
  color: var(--secondary-text-color);
}

.section-title {
  font-size: 3em;
  height: 20vh;
  line-height: 20vh;
  color: var(--text-color);
  margin: 0;
  user-select: none; /* Non-prefixed version, currently*/
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.no-interaction {
  user-select: none; /* Non-prefixed version, currently*/
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* GENERAL KEYFRAMES */

@keyframes fade-in-slide-up{
  0% {
    opacity:0;
    transform: translateY(10vh);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fade-in-slide-right{
  0% {
    opacity:0;
    transform: translateX(-5vw);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fade-in-slide-left{
  0% {
    opacity:0;
    transform: translateX(5vw);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

/* ~NAVBAR */

#navbar-container {
  width: 100vw;
  background-color: transparent;
  top: 0;
  transform: translateY(-5em);
  position: fixed;
  /*border-bottom: solid 1px rgba(255, 255, 255, 0.507);*/
  z-index: 1000;
  transition: top 0.3s;
  /* have descriptors fade in */
  animation: fadeIn ease 2s, slide-navbar-down ease var(--navbar-animation-time);
  -webkit-animation: fadeIn ease 2s, slide-navbar-down ease var(--navbar-animation-time);
  -moz-animation: fadeIn ease 2s, slide-navbar-down ease var(--navbar-animation-time);
  /* delay animation */
  animation-delay: var(--navbar-animation-delay);
  -webkit-animation-delay: var(--navbar-animation-delay);
  -moz-animation-delay: var(--navbar-animation-delay);
  /* maintain animation styles after completion*/
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

@keyframes slide-navbar-down {
  0%{transform: translateY(-5em);}
  100% {transform: translateY(0);}
}

.item-container {
  width: 40vw;
  margin: 0 5em 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  padding: 1em;
  color: var(--text-color);
}

.navbar-item:hover {
  color: var(--accent-color);
  transition: 0.5s;
}

/* ~HOME */
#home-container {
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

#particle-layer {
  position: fixed;
  z-index: -1;
  background: rgb(20,20,30);
  background: linear-gradient(126deg, rgba(20,20,30,1) 0%, rgba(20,20,30,1) 35%, rgba(41,39,65,1) 100%);
}

.home-content {
  width: 70vw;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  position: relative;
  top: 35%;
  left: 10%;
}

.home-title {
  font-size: 5em;
  margin-bottom: 0.2em;
  animation: fadeIn ease 1.2s, slide-left-right ease var(--title-slide-time);
  -webkit-animation: fadeIn ease 1.2s, slide-left-right ease var(--title-slide-time);
  -moz-animation: fadeIn ease 1.2s, slide-left-right ease var(--title-slide-time);
}

.descriptors-container {
  overflow: hidden;
  top: 100%;
  position: absolute;
  border-radius: 3px;
}

.descriptors {
  font-size: 1.3em;
  padding: 0.3em 0.8em;
  background-color: var(--accent-color);
  transform: translateX(1000px);
  /* have descriptors fade in */
  animation: fadeIn ease 2s, slide-bottom-up ease var(--descriptors-fade-in-time);
  -webkit-animation: fadeIn ease 2s, slide-bottom-up ease var(--descriptors-fade-in-time);
  -moz-animation: fadeIn ease 2s, slide-bottom-up ease var(--descriptors-fade-in-time);
  /* delay animation */
  animation-delay: var(--title-slide-time);
  -webkit-animation-delay: var(--title-slide-time);
  -moz-animation-delay: var(--title-slide-time);
  /* maintain animation styles after completion*/
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

@keyframes slide-left-right {
  0% {transform: translateX(-1000px);}
  100% {transform: translateX(0px);}
}

@-moz-keyframes slide-left-right {
  0% {transform: translateX(-1000px);}
  100% {transform: translateX(0px);}
}

@keyframes slide-bottom-up {
  0%{transform: translateY(3em);}
  100% {transform: translateY(0px);}
}

@-moz-keyframes slide-bottom-up {
  0%{transform: translateY(3em);}
  100% {transform: translateY(0px);}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* ~ABOUT */

#about-container {
  background-color: var(--body-dark);
}


#about-header-container {
  margin-bottom: 8vh;
}

.short-description {
  color: var(--secondary-text-color);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3vh;
  
}

.bottom-border-container {
  width: 10vw;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#about-body-container {
  border-radius: 15px;
  margin: 0 auto;
  width: var(--max-subsection-width);
  background-color: var(--body-light);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7vh 0;
}

#about-body {
  width: 40vw;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#about-body-title {
  font-size: 2rem;
  color: var(--text-color);
}

#body-long-description {
  color: var(--secondary-text-color);
}

#about-my-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-info-item {
  width: 20vw;
  margin-top: 3vh;
}

.about-info-title {
  color: var(--accent-color);
  margin-bottom: 0.5vh;
}

.about-info-content {
  color: var(--secondary-text-color);
}

#profile-pic {
  border-radius: 100%;
  height: 10vw;
  width: 10vw;
  margin: 0 2vw 0 10vw;
}

.about-social-icon {
  cursor: pointer;
  color: white;
  height: 3.5vh;
  width: 3.5vh;
  margin-right: 2em;
}

.about-social-icon:hover {
  color: var(--accent-color);
  transition: 0.3s;
}

/* ~SKILLS */
#skills-container {
  display: flex;
  flex-direction: column;
}

#skills-section {
  width: 100%;
  height: 50vh;
  background-color: var(--body-light);
}

.section-title-alt {
  text-align: left;
  font-size: 3em;
  padding-top: 5vh;
  color: var(--text-color);
  margin: 0 0 5vh 10vw;
  user-select: none; /* Non-prefixed version, currently*/
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#skills {
  width: var(--max-subsection-width);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.skill-name {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
}

.skill-item:hover {
  color: var(--accent-color);
  transition: 0.3s;
}

.skill-icon {
  color: var(--text-color);
  background-color: var(--body-dark);
  height: 5vw;
  width: 5vw;
  padding: 1vw;
  border-radius: 100%;
  margin-bottom: 1vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.skill-icon:hover {
  color: var(--accent-color);
  transition: 0.3s;
}

.skill-icon:hover + .skill-name{
  color: var(--accent-color);
  transition: 0.3s;
}


/* ~KNOWLEDGE */

#knowledge-section {
  width: 100%;
  height: 50vh;
  background-color: var(--body-dark);
}

#knowledge {
  width: var(--max-subsection-width);
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
}

.knowledge-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25vw;
  background-color: var(--body-light);
  padding: 2vh 2vh 4vh 2vh;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.knowledge-item:hover {
  background-color: var(--accent-color);
  transition: 0.3s;
}
/*rotate knowledge icon 360 and turn white*/
.knowledge-item:hover > .knowledge-header > .knowledge-icon{
  animation: rotate-360 ease 0.7s;
  color: var(--text-color);
  transition: 0.3s;
}

.knowledge-item:hover > .knowledge-description{
  color: var(--text-color);
  transition: 0.3s;
}

@keyframes rotate-360 {
  0%{transform: rotateY(0deg);}
  100%{transform: rotateY(360deg);}
}

@-moz-keyframes rotate-360 {
  0%{transform: rotateY(0deg);}
  100%{transform: rotateY(360deg);}
}

.knowledge-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.knowledge-title {
  color: var(--text-color);
}

.knowledge-icon {
  height: 5vh;
  width: 5vh;
  padding: 1vh;
  margin-right: 1vh;
  color: var(--accent-color);
}

.knowledge-description {
  padding: 0 1vw 0 8vh;
  color: var(--secondary-text-color);
}

/* ~PORTFOLIO */

#portfolio-container {
  background-color: var(--body-light);
}

#portfolio-filters {
  margin: 0 auto;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter {
  font-size: 1em;
  font-weight: 500;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.filter:hover {
  color: var(--accent-color-opaque);
  transition: 0.3s;
}

.selected {
  color: var(--accent-color);

}

.selected:hover {
  color: var(--accent-color);

}

#projects-container {
  height: 60vh;
  width: var(--max-subsection-width);
  margin: 3vh auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  */
}

.project-card {
  /*width: var(--project-card-width);*/
  height: var(--project-car-height);
  background-size: cover;
  /*margin: var(--project-card-margin);*/
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 3px;
  overflow: hidden;
}

.project-card a {
  color: inherit; /* remove blue color */
  text-decoration: inherit; /* no underline */
}

.project-overlay {
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-image: url('./images/project_overlay_background.png');
  background-size: 100% 100%;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-overlay:hover{
  transition: 0.2s;
  opacity: 85%;
}

.project-overlay:hover > .project-title{
  animation: fadeIn ease 0.4s, slide-up 0.4s ease;
}

.project-overlay:hover > .project-description{
  animation: fadeIn 0.4s ease 0.3s;
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}


.project-title {
  width: 20vw;
  opacity: 1;
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: 500;
}

.project-description {
  opacity: 0%;
  width: 15vw;
  color: var(--text-color);
  font-size: 1.1rem;
  
}

@keyframes slide-up {
  0% {transform: translateY(5vh);}
  100% {transform: translateY(0);}
}


/* ~CONTACT */
#contact-container {
  background-color: var(--body-dark);
  position: relative;
  overflow: hidden;
}

#contact-body {
  border-top: solid 1px var(--secondary-text-color-opaque);
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 70vh;
}

#user-info-container {
  margin: 0 auto;
  margin-left: 10vw;
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.inline-container {
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1vh;
}

#personal-info-container {
  text-align: left;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  width: 40vw;
  height: 70vh;
  border-left: solid 1px var(--secondary-text-color-opaque);
}

.personal-info-item {
  border-bottom: solid 1px var(--secondary-text-color-opaque);
  height: 23.3vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 5vw;
}

.info-title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-icon {
  color: var(--accent-color);
  height: 4vh;
  width: 4vh;
  padding: 1vh;
  background-color: var(--body-light);
  border-radius: 100%;
}

.info-title {
  color: var(--text-color);
  font-weight: 500;
  padding-left: 1vh;
}

.info-content {
  color: var(--secondary-text-color);
  padding-left: 7vh;
}

.input-small {
  /*get rid of any default styles*/
  border: none;
  box-shadow : none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: var(--body-light);
  color: var(--text-color);
  padding: 1em;
  box-sizing: border-box;
  margin-bottom: 1vh;
  border-radius: 5px;
}

.input {
  /*get rid of any default styles*/
  border: none;
  box-shadow : none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: var(--body-light);
  color: var(--text-color);
  padding: 1em;
  box-sizing: border-box;
  width: 40vw;
  margin-bottom: 1vh;
  margin-right: 5vw;
  border-radius: 5px;
}

.input-field-small {
  height: 5vh;
}

.input-field-large {
  height: 25vh;
}

.button-container {
  width: 40vw;
}

.button {
  cursor: pointer;
  font-size: 0.8vw;
  font-weight: 500;
  width: 8vw;
  height: 5vh;
  line-height: 5vh;
  color: white;
  background-color:  var(--accent-color);
  margin: 0 0 0 auto;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--accent-color-highlight);
}

.social-links {
  width: 100%;
  height: 10vh;
  background-color: var(--body-light);

}

.link-container {
  width: 30vw;
  height: 100%;
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.social-icon {
  cursor: pointer;
  color: white;
  height: 5vh;
  width: 5vh;
  margin-right: 2em;
}

.social-icon:hover {
  color: var(--accent-color);
  transition: 0.4s;
}

.no-border-bottom {
  border-bottom: none;
}